[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
bcrypt = "*"
pymysql = "*"
flask-apispec = "*"
passlib = "*"
pytest = "*"
sqlalchemy-utils = "*"
requests = "*"
apispec-webframeworks = "*"
boto3 = "*"
pillow = "*"
pyheif = "*"
flask-swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.9"
